/* CTA Area 1 ---------------------------------- */
.cta-area-1 {
    .sec-title {
        font-size: 80px;
        line-height: 1.125;
        @include ml {
            font-size: 60px;
        }
        @include md {
            font-size: 50px;
        }
        @include sm {
            font-size: 40px;
        }
        @include xs {
            font-size: 36px;
        }
        @include vxs {
            font-size: 32px;
        }
    }
}

/* CTA Area 2 ---------------------------------- */
.cta-wrap2 {
    position: relative;
    padding: 80px 0;
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, rgba(227, 255, 4, 0) 0%, #E3FF04 20%, #E3FF04 80%, rgba(227, 255, 4, 0) 100%);
    }
    .title-area {
        .sec-title {
            font-size: 80px;
            font-weight: 600;
            letter-spacing: -0.03em;
            margin-bottom: -0.1em;
            @include ml {
                font-size: 60px;
            }
            @include md {
                font-size: 45px;
            }
            @include sm {
                font-size: 40px;
            }
        }
    }
}

/* CTA Area 3 ---------------------------------- */
.cta-wrap3 {
    position: relative;
    padding: 210px 0;
    @include xl {
        padding: 180px 0;
    }
    @include md {
        padding: 140px 0;
    }
    @include sm {
        padding: 120px 0;
    }
    @include xs {
        padding: 100px 0;
    }
    .cta-bg-thumb {
        position: absolute;
        inset: 0;
        height: 100%;
    }
    .cta-title {
        font-size: 80px;
        line-height: 1.125em;
        @include ml {
            font-size: 70px;
        }
        @include lg {
            font-size: 60px;
        }
        @include md {
            font-size: 50px;
        }
        @include sm {
            font-size: 40px;
        }
        @include xs {
            font-size: 34px;
        }
    }
    .title-area {
        .btn {
            margin-top: 24px;
        }
    }
}

