/* Hero Global ---------------------------------- */
.hero-wrapper {
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.hero-thumb-group {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: end;
    margin-top: 80px;
    img {
        border-radius: 50%;
        border: 3px solid $theme-color;
        width: 60px;
    }
    .img2 {
        margin-left: -24px;
    }
    .hero-counter {
        height: 60px;
        width: 60px;
        line-height: 54px;
        border-radius: 50%;
        background: $title-color;
        border: 3px solid $theme-color;
        margin-left: -24px;
        text-align: center;
        color: $theme-color;
        font-size: 14px;
        font-family: $title-font;
        flex: none;
    }
    p {
        margin-bottom: 0;
        max-width: 196px;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        font-family: $title-font;
        color: $title-color;
        text-align: left;
        margin-left: 16px;
        text-transform: uppercase;
        letter-spacing: -0.14px;
    }
}
.hero-year-tag {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 254px;
    img {
        flex: none;
    }
    h6 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}
/* Hero 1 ---------------------------------- */
.hero-subtitle {
    font-size: 30px;
    font-family: $title-font;
    font-weight: 400;
    color: $theme-color;
    display: block;
    margin-bottom: 14px;
    text-transform: uppercase;
}
.hero-title {
    margin-bottom: 0;
    color: $title-color;
    font-weight: 600;
    letter-spacing: -0.03em;
    font-size: 120px;
}
.hero-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
}
.hero-style1 {
    position: relative;
    z-index: 6;
    padding: 185px 0 80px;
    .hero-title {
        font-weight: 600;
        letter-spacing: -3.6px;
    }
    .hero-text {
        margin-top: 23px;
    }
    .btn-group {
        margin-top: 30px;
    }
}
@include ml {
    .hero-title {
        font-size: 100px;
    }
}
@include xl {
    .hero-title {
        font-size: 90px;
    }
    .hero-text {
        font-size: 16px;
    }
}
@include lg {
    .hero-style1 {
        padding: 155px 0 80px;
    }
    .hero-title {
        font-size: 80px;
    }
}
@include md {
    .hero-title {
        font-size: 70px;
    }
    .hero-style1 .hero-year-tag {
        margin-top: 40px;
    }
    .hero-style1 .hero-title {
        letter-spacing: -1.2px;
    }
}
@include sm {
    .hero-style1 {
        padding: 140px 0 80px;
    }
    .hero-title {
        font-size: 56px;
    }
}
@include xs {
    .hero-style1 .hero-title {
        letter-spacing: normal;
    }
    .hero-title {
        font-size: 39px;
        letter-spacing: normal;
    }
}
@include vxs {
    .hero-title {
        font-size: 34px;
    }
}
/* Hero 2 ---------------------------------- */
.hero-2 {
    background: $title-color;
    .hero-2-thumb {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        height: 744px;
        img {
            height: 744px;
            object-fit: cover;
        }
    }
}
.hero-style2 {
    padding: 208px 0 72px;
    .hero-title {
        font-size: 100px;
    }
    .hero-text {
        margin-top: 26px;
        margin-bottom: 40px;
    }
    .btn {
        margin-bottom: 43px;
    }
    .hero-contact-wrap {
        color: $white-color;
        font-family: $title-font;
        max-width: 306px;
        display: inline-block;
        margin-top: 30px;
        a {
            color: $white-color;
        }
        &:not(:last-child) {
            margin-right: 18px;
        }
    }
}
@include xxl {
    .hero-2 .hero-2-thumb {
        width: 900px;
    }
}
@include ml {
    .hero-style2 .hero-title {
        font-size: 80px;
    }
    .hero-2 .hero-2-thumb {
        height: 676px;
        img {
            height: 676px;
        }
    }
}
@include xl {
    .hero-2 .hero-2-thumb {
        width: 730px;
    }
}
@include lg {
    .hero-style2 .hero-title {
        font-size: 70px;
    }
    .hero-2 .hero-2-thumb {
        width: 620px;
    }
    .hero-2 .hero-2-thumb {
        height: 667px;
    }
}
@include md {
    .hero-2 .hero-2-thumb {
        height: 637px;
        width: 400px;
        img {
            height: 637px;
        }
    }
}
@include sm {
    .hero-style2 .hero-title {
        font-size: 50px;
    }
    .hero-2 .hero-2-thumb {
        height: 580px;
        width: 320px;
        img {
            height: 580px;
        }
    }
    .hero-style2 .hero-contact-wrap {
        max-width: 246px;
    }
}
@include xs {
    .hero-2 .hero-2-thumb {
        height: auto;
        width: 100%;
        position: inherit;
        img {
            height: auto;
        }
    }
    .hero-style2 .hero-title {
        font-size: 40px;
    }
    .hero-style2 {
        padding: 80px 0 72px;
    }
    .hero-style2 .btn {
        margin-bottom: 33px;
    }
}
@include vxs {
    .hero-style2 .hero-title {
        font-size: 40px;
    }
}

/* Hero 3 ---------------------------------- */
.hero-3 {
    background-image: -webkit-linear-gradient(to top, $smoke-color, $smoke-color);
    background-image: linear-gradient(to top, $smoke-color, $smoke-color);
    background-size: 100% calc(100% - 582px);
    background-repeat: no-repeat;
    @include md {
        background: transparent;
    }
}
.hero-style3 {
    padding: 140px 0 130px;
    .hero-title {
        font-size: 100px;
    }
    .hero-3-thumb {
        margin-top: 38px;
        margin-bottom: 40px;
    }
    .hero-text {
        margin-top: 22px;
        margin-bottom: 0;
    }
}
@include ml {
    .hero-style3 .hero-title {
        font-size: 80px;
    }
}
@include lg {
    .hero-style3 {
        padding: 160px 0 70px;
        .hero-title {
            font-size: 70px;
        }
    }
}
@include sm {
    .hero-style3 {
        padding: 140px 0 70px;
    }
    .hero-style3 .hero-title {
        font-size: 50px;
    }
    .hero-style3 .hero-3-thumb {
        margin-top: 18px;
        margin-bottom: 20px;
    }
}
@include xs {
    .hero-style3 .hero-title {
        font-size: 40px;
    }
}
@include vxs {
    .hero-style3 .hero-title {
        font-size: 40px;
    }
}
/* Hero 4 ---------------------------------- */
.hero-4 {
    padding-bottom: 100px;
    .hero-4-thumb {
        width: 42%;
        top: 210px;
        bottom: 0px;
        z-index: 1;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
.hero-style4 {
    padding-top: 210px;
    padding-bottom: 80px;
    .hero-title {
        font-size: 100px;
        margin-bottom: 24px;
        line-height: 1.1em;
    }
    .hero-text {
        margin-bottom: 36px;
    }
}
@include ml {
    .hero-style4 .hero-title {
        font-size: 80px;
    }
}
@include lg {
    .hero-style4 .hero-title {
        font-size: 70px;
    }
}
@include md {
    .hero-4 {
        padding-bottom: 0px;
        .hero-4-thumb {
            width: 100%;
            position: initial;
            margin-top: 90px;
        }
    }
    .hero-style4 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .hero-thumb-group {
        justify-content: start;
        margin-top: 50px;
    }
}
@include sm {
    .hero-style4 .hero-title {
        font-size: 56px;
    }
}
@include xs {
    .hero-style4 .hero-title {
        font-size: 46px;
    }
}
@include vxs {
    .hero-style4 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
/* Hero 5 ---------------------------------- */
.hero-5 {
    .hero-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    .circle-btn {
        margin-bottom: 140px;
    }
}
.hero-style5 {
    padding-top: 270px;
    padding-bottom: 75px;
    .hero-title {
        font-size: 160px;
        line-height: 1.0625em;
        color: $white-color;
        font-weight: 600;
        letter-spacing: -4.8px;
    }
    .hero-text {
        color: $smoke-color;
        max-width: 416px;
        line-height: 30px;
        margin-top: 27px;
    }
    .hero-year-tag {
        margin-top: 100px;
        margin-left: auto;
        h6 {
            color: $white-color;
            line-height: 24px;
        }
        img {
            filter: grayscale(9) brightness(99);
        }
    }

}
@include xxl {
    .hero-style5 {
        padding-top: 317px;
    }
    .hero-style5 .hero-title {
        font-size: 120px;
        letter-spacing: normal;
    }
}
@include ml {
    .hero-style5 {
        padding-top: 217px;
    }
    .hero-style5 .hero-title {
        font-size: 100px;
    }
    .hero-style5 .hero-year-tag {
        margin-top: 80px;
    }
}
@include xl {
    .hero-style5 .hero-title {
        font-size: 90px;
    }
}
@include ml {
    .hero-style5 .hero-title {
        font-size: 80px;
    }
}
@include md {
    .hero-style5 .hero-year-tag {
        margin-left: 0;
        margin-top: 60px;
    }
    .hero-5 .circle-btn {
        margin-bottom: 120px;
    }
}
@include sm {
    .hero-5 .circle-btn {
        margin-bottom: 100px;
    }
    .hero-style5 .hero-title {
        font-size: 56px;
        line-height: 66px;
    }
}
@include xs {
    .hero-style5 {
        padding-top: 187px;
        padding-bottom: 55px;
    }
    .hero-style5 .hero-year-tag {
        margin-top: 40px;
    }
}
@include vxs {
    .hero-style5 .hero-title {
        font-size: 46px;
        line-height: 56px;
    }
}

/* Hero 6 ---------------------------------- */
.hero-style6 {
    position: relative;
    z-index: 6;
    padding: 195px 0 0px;
    margin-bottom: 140px;
    .hero-text {
        margin-top: 23px;
    }
    .circle-btn.style2 {
        position: absolute;
        bottom: 0px;
        left: 300px;
    }
}
@include xl {
    .hero-style6 .circle-btn.style2 {
        bottom: -30px;
    }
}
@include lg {
    .hero-style6 .circle-btn.style2 {
        bottom: 0px;
        left: 200px;
    }
}
@include md {
    .hero-style6 .circle-btn.style2 {
        margin-top: 40px;
        position: initial;
    }
    .hero-style6 {
        padding: 155px 0 0px;
        margin-bottom: 100px;
    }
}
@include xs {
    .hero-style6 .hero-title {
        letter-spacing: normal;
    }
}
/* Hero 7 ---------------------------------- */
.hero-7 {
    padding-bottom: 100px;
    .hero-7-thumb {
        margin-bottom: -100px;
    }
}
.hero-style7 {
    padding: 185px 0 70px;
    .hero-title {
        margin-bottom: 22px;
    }
    .hero-text {
        max-width: 636px;
        margin: 0 auto;
    }
}
@include md {
    .hero-style7 {
        padding: 145px 0 70px;
    }
}
@include sm {
    .hero-style7 {
        padding: 145px 0 60px;
        .hero-title {
            font-size: 50px;
            letter-spacing: normal;
        }
    }
}
@include xs {
    .hero-style7 {
        padding: 145px 0 40px;
        .hero-title {
            font-size: 39px;
        }
    }
}
@include vxs {
    .hero-style7 {
        .hero-title {
            font-size: 34px;
        }
    }
}
/* Hero 8 ---------------------------------- */
.hero-style8 {
    padding: 188px 0 140px;
    .hero-subtitle  {
        font-size: 40px;
        font-family: $body-font;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .hero-text {
        margin-top: 60px;
    }
}
@include ml {
    .hero-style8 .hero-subtitle {
        font-size: 36px;
    }
    .hero-style8 {
        padding: 200px 0 140px;
    }
}
@include md {
    .hero-style8 {
        max-width: 600px;
        padding: 200px 0 80px;
        .hero-subtitle {
            font-size: 30px;
        }
        .hero-text {
            margin-top: 30px;
            max-width: 400px;
        }
    }
}
@include sm {
    .hero-style8 {
        max-width: 450px;
        padding: 160px 0 80px;
    }
}
@include xs {
    .hero-style8 .hero-subtitle {
        font-size: 24px;
    }
}

/* Hero 13 ---------------------------------- */
.hero-style13 {
    padding: 230px 0 140px;
    position: relative;
    .hero-thumb13-1 {
        position: absolute;
        right: 86px;
        top: 130px;
        @include lg {
            right: 0;
        }
        @include md {
            width: 250px;
        }
        @include sm {
            width: 150px;
        }
        @include xs {
            width: 100px;
        }
    }
    .hero-thumb13-2 {
        position: absolute;
        left: 86px;
        bottom: 200px;
        @include lg {
            left: 0;
        }
        @include md {
            width: 100px;
            bottom: 80px;
        }
        @include xs {
            width: 60px;
        }
    }
    .hero-title {
        font-size: 100px;
        @include ml {
            font-size: 80px;
        }
        @include lg {
            font-size: 70px;
        }
        @include sm {
            font-size: 56px;
        }
        @include xs {
            font-size: 40px;
        }
        @include vxs {
            font-size: 34px;
        }
    }
    .hero-text {
        margin-top: 18px;
    }
    .btn-group {
        margin-top: 40px;
    }
    @include lg {
        padding: 200px 0 140px;
    }
    @include md {
        padding: 140px 0 120px;
    }
    @include xs {
        padding: 120px 0 100px;
    }
}

/* Hero 14 ---------------------------------- */
.hero-14 {
    padding-top: 210px;
    @include md {
        padding-top: 180px;
    }
    @include xs {
        padding-top: 150px;
    }
    .hero-style14 {
        position: relative;
        z-index: 1;
        .hero-title {
            font-size: 100px;
            font-weight: 600;
            letter-spacing: -0.03em;
            line-height: 1.1em;
            @include ml {
                font-size: 80px;
            }
            @include lg {
                font-size: 70px;
            }
            @include md {
                font-size: 60px;
            }
            @include sm {
                font-size: 56px;
            }
            @include xs {
                font-size: 40px;
            }
            @include vxs {
                font-size: 34px;
            }
        }
        .hero-text {
            max-width: 526px;
            font-size: 18px;
            margin-top: 30px;
            @include md {
                font-size: 16px;
            }
        }
        .hero-counter-wrap {
            max-width: 196px;
            .counter-title {
                font-size: 60px;
                font-weight: 600;
                letter-spacing: -0.03em;
                margin-bottom: 10px;
                @include md {
                    font-size: 40px;
                }
                @include xs {
                    font-size: 30px;
                }
            }
            .counter-subtitle {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: -0.01em;
                line-height: 1.714;
            }
        }
    }
    .hero-14-thumb {
        margin-top: -211px;
        position: relative;
        z-index: -1;
        @include md {
            margin-top: -50px;
        }
        img {
            width: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, #0A0C00 0%, rgba(10, 12, 0, 0) 50%);
            z-index: 1;
        }
        &:before {
            content: '';
            position: absolute;
            inset: 0 0 40%;
            background: linear-gradient(180deg, #0A0C00 0%, rgba(10, 12, 0, 0) 100%);
            z-index: 1;
        }
    }
}

/* Hero 15 ---------------------------------- */
.hero-15 {
    position: relative;
    padding-bottom: 100px;
    @include md {
        padding-bottom: 0;
        background: $title-color;
    }
    .hero-inner {
        padding-top: 210px;
        padding-bottom: 140px;
        @include md {
            padding-top: 160px;
            padding-bottom: 80px;
        }
        @include sm {
            padding-top: 80px;
        }
    }
    .hero-style15 {
        position: relative;
        z-index: 1;
        .hero-title {
            font-size: 120px;
            font-weight: 600;
            letter-spacing: -0.03em;
            line-height: 1.0833;
            @include ml {
                font-size: 80px;
            }
            @include lg {
                font-size: 70px;
            }
            @include md {
                font-size: 60px;
            }
            @include sm {
                font-size: 56px;
            }
            @include xs {
                font-size: 40px;
            }
            @include vxs {
                font-size: 34px;
            }
        }
    }
    .hero-content-wrap {
        max-width: 416px;
        margin-left: auto;
        margin-right: 110px;
        margin-top: -60px;
        .hero-arrow-icon {
            color: $smoke-color;
            margin-bottom: 80px;
        }
        @include lg {
            margin-right: 0;
        }
        @include md {
            margin-left: 0;
            margin-top: 30px;
            .hero-arrow-icon {
                display: none;
            }
        }
        @include sm {
            max-width: none;
        }
    }
    .hero-thumb-15-1 {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 650px;
        width: 948px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include xxl {
            width: 700px;
        }
        @include ml {
            width: 600px;
        }
        @include xl {
            width: 550px;
        }
        @include lg {
            width: 480px;
            height: 620px;
        }
        @include md {
            position: relative;
            width: 100%;
            height: auto;
        }
    }
    .hero-thumb-15-2 {
        position: absolute;
        right: 0;
        top: 150px;
        height: 510px;
        width: 870px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include xxl {
            width: 400px;
        }
        @include ml {
            height: 400px;
        }
        @include lg {
            width: 310px;
            height: 280px;
        }
        @include md {
            top: 120px;
            width: 400px;
        }
        @include sm {
            position: relative;
            width: 100%;
            height: auto;
            top: 100px;
        }
    }
}

/* Hero 16 ---------------------------------- */
.hero-style16 {
    padding: 190px 0 140px;
    .hero-text {
        margin-top: 28px;
    }
    @include lg {
        padding: 155px 0 100px;
    }
    @include md {
        padding: 140px 0 80px;
    }
    @include xs {
        padding: 140px 0 40px;
    }
}
.hero-thumb-wrap16 {
    position: relative;
    .text-circle-wrap {
        position: absolute;
        top: 0;
        right: 312px;
        z-index: 1;
        transform: translate(0, -50%);
        @include lg {
            right: 60px;
        }
        @include md {
            right: 40px;
            top: 40px;
            transform: none;
        }
        @include xs {
            position: relative;
            display: inline-block;
            top: 0;
            right: auto;
            left: 15px;
            margin-bottom: 40px;
        }
        .box-icon {
            color: $title-color;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
    .text-circle {
        background: $theme-color;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 600;
        font-family: $title-font;
        text-transform: uppercase;
    }
}

/* Hero 17 ---------------------------------- */
.hero-17 {
    margin-top: 110px;
    @include md {
        margin-top: 98px;
    }
    .hero-video-card {
        display: flex;
        gap: 24px;
        margin: 0 -168px 24px 168px;
        .box-img {
            flex: none;
            img {
                height: 100%;
            }
        }
        .box-content {
            align-self: center;
            padding: 40px 40px 32px 0;
            .box-title {
                font-size: 24px;
                font-weight: 600;
                letter-spacing: -0.02em;
                line-height: 1.41666;
                margin-bottom: 60px;
                @include xxl {
                    font-size: 20px;
                }
            }
        }
        @media (max-width: 1879px) {
            margin: 0 -36px 24px 36px;
        }
        @media (max-width: 1650px) {
            margin: 0 0 24px 0;
        }
        @include ml {
            margin: 0 0 24px 0;
        }
        @include xl {
            flex-wrap: wrap;
            gap: 0;
            .box-content {
                order: 1;
                padding: 40px 40px 0px 40px;
                .box-title {
                    margin-bottom: 20px;
                }
            }
            .box-img {
                order: 2;
            }
        }
        @include lg {
            margin: 0 0 24px;
            flex-wrap: nowrap;
            display: inline-flex;
            max-width: 540px;
            .box-content {
                order: 2;
            }
            .box-img {
                order: 1;
            }
        }
        @include sm {
            flex-wrap: wrap;
            gap: 0;
            .box-content {
                order: 1;
                padding: 40px 40px 0px 40px;
                .box-title {
                    margin-bottom: 20px;
                }
            }
            .box-img {
                order: 2;
            }
        }
    }
    .hero-inner {
        @include lg {
            padding: 0 30px;
            position: relative;
            z-index: 1;
            &:after {
                content: '';
                position: absolute;
                inset: 0;
                background: rgba($color: #000000, $alpha: 0.45);
                z-index: -1;
            }
        }
        @include xs {
            padding: 0;
        }
    }
}
.hero-style17 {
    padding: 300px 0 140px;
    @include xxl {
        padding: 250px 0 140px;
    }
    @include ml {
        padding: 200px 0 120px;
    }
    @include lg {
        padding: 140px 0 80px;
    }
    @include md {
        padding: 120px 0 80px;
    }
    .hero-title {
        font-size: 80px;
        @include xxl {
            font-size: 70px;
        }
        @include ml {
            font-size: 60px;
        }
        @include xl {
            font-size: 55px;
        }
        @include md {
            font-size: 48px;
        }
        @include sm {
            font-size: 45px;
        }
        @include xs {
            font-size: 35px;
        }
        @include vxs {
            font-size: 32px;
        }
    }
    .btn-group {
        margin-top: 44px;
    }
}

/* Hero 18 ---------------------------------- */
.hero-18 {
    margin-top: 158px;
    @include md {
        margin-top: 138px;
    }
    @include sm {
        margin-top: 166px;
    }
    @include xs {
        margin-top: 162px;
    }
    .hero-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    .icon-box {
        position: absolute;
        right: 48px;
        bottom: 80px;
        .slick-arrow {
            --icon-size: 60px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(15px);
            color: $white-color;
            &:hover {
                background: $white-color;
                color: $title-color;
            }
        }
        @include xs {
            right: 20px;
            bottom: 25px;
            .slick-arrow {
                --icon-size: 40px;
                font-size: 16px;
            }
        }
    }
} 
.hero-style18 {
    padding: 392px 0 140px;
    @include xxl {
        padding: 300px 0 140px;
    }
    @include xl {
        padding: 280px 0 140px;
    }
    @include lg {
        padding: 250px 0 120px;
    }
    @include sm {
        padding: 200px 0 120px;
    }
    @include xs {
        padding: 180px 0 80px;
    }
    .hero-title {
        font-size: 80px;
        line-height: 1.125em;
        margin-bottom: 28px;
        color: $white-color;
        @include xxl {
            font-size: 70px;
        }
        @include ml {
            font-size: 60px;
        }
        @include xl {
            font-size: 55px;
        }
        @include md {
            font-size: 48px;
        }
        @include sm {
            font-size: 45px;
        }
        @include xs {
            font-size: 35px;
        }
        @include vxs {
            font-size: 32px;
        }
    }
}