name: Deploy to Google Cloud VM

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to Google Cloud VM
        run: |
          ssh -o StrictHostKeyChecking=no usama@34.73.147.98 << 'EOF'
            set -e
            cd /var/www/html/prime-reach-publishers
            git fetch origin
            git reset --hard origin/master
            git clean -fd
            sudo systemctl restart nginx
          EOF
